/* Reseteo CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Termina el reseteo */

/* Mobile index */
.img-logo{
    width: 75px;
    height: 75px;
}

.nav-color--index{
    background-color: #A0C49D;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #ffffff;
}

.drop-menu-color{
    background-color: floralwhite;
}



