.bg-artistas {
    height: 40vh;
    background-image: url('../../img/sjc-drums-chico.jpg');
    background-size:contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 