.bg-bandas {
  height: 40vh;
  background-image: url('../../img/green-day13881.jpg');
  background-size:contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
