.bg-galeria {
    height: 40vh;
    background-image: url('../../img/drums-fondo.jpg');
    background-size:contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
 