.container-sobre-nosotros{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../img/travis-barker-gq-17-BW.webp);
    background-size: cover;
    background-position: center;
}